body::-webkit-scrollbar {
  z-index: -1;
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}
